<template>
  <div>
    <navbar />
    <h2>Daftar Makanan</h2>
  </div>
</template>

<script>
// @ is an alias to /src
import navbar from "@/components/navbar.vue";

export default {
  name: "Foods",
  components: {
    navbar,
  },
};
</script>