<template>
  <div class="row mt-4">
    <div class="col">
      <div class="d-flex h-100">
        <div class="justify-content-center align-self-center">
          <h2><strong>Delicious Food Menu, </strong><br />In Your Gadget</h2>
          <button class="btn btn-lg btn-success">
            <b-icon-arrow-right></b-icon-arrow-right> Pesan
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <img src="../assets/images/ilustrasi.png" alt="ilustrasi" width="100%" />
    </div>
  </div>
</template>

<script>
export default {
  name: "hero",
};
</script>

<style>
</style>